/*


*/

@font-face {
  font-family: 'FeltThat';
  src: url('/fonts/FeltThat/font.woff2') format('woff2'),
    url('/fonts/FeltThat/font.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-lt: #3b818a;
  --primary-dk: #1e4045;
  --primary: rgb(46, 100, 107);
  --primary-50: rgba(46, 100, 107, 0.5);
  --primary-25: rgba(46, 100, 107, 0.25);
  --secondary: #b8e650;
  --secondary-lt: #d2ee91;
  --neutral-dark: #545a5d;
  --neutral-50: rgba(84, 90, 93, 0.5);
  --neutral-25: rgba(84, 90, 93, 0.25);
  --neutral-light: #f3f3f2;
  --font-accent: 'FeltThat', 'Roboto Slab', serif;
  --font-secondary: 'Roboto Slab', 'Times New Roman', Georgia, serif;
  --font-primary: 'Lato', Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: var(--font-primary);
  color: var(--neutral-dark);
}

p {
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: normal;
}

code {
  background: rgba(0, 0, 0, 0.08);
  display: inline-block;
  padding: 0.05em;
  margin: 0 0.1em;
  border-radius: 0.2em;
  font-size: 0.9em;
  font-family: monospace;
}

.nowrap {
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  border: 0;
  padding: 0.65em 1em 0.7em;
  font-family: var(--font-secondary);
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
  border-radius: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.65em;
  text-decoration: none;
}

.btn--text,
.link--text {
  background: none;
  color: var(--primary);
  text-decoration: underline var(--primary-25) 2px;
  text-underline-offset: 3px;
  transition: all 0.2s;
}

.link--text {
  font-weight: bold;
}

.link--text:hover {
  color: var(--primary-lt);
  text-decoration: underline var(--secondary) 2px;
}

.btn--lg {
  font-size: 1.1rem;
}

.btn:hover,
.btn:focus-visible {
  outline: 3px solid var(--secondary);
  transform: scale(1.03);
}

.btn--text:hover,
.btn--text:focus-visible {
  outline: none;
  color: var(--neutral-dark);
  text-decoration: underline var(--secondary) 2px;
}

.btn .far,
.btn .fab,
.btn .fas {
  color: var(--secondary);
  font-size: 1.25em;
  padding-right: 0.25em;
}

.btn--text .far,
.btn--text .fab,
.btn--text .fas {
  color: var(--primary);
  font-size: 1.25em;
  padding-right: 0.25em;
}

.btn--text:hover .far,
.btn--text:hover .fab,
.btn--text:hover .fas {
  color: var(--neutral-dark);
}

.header {
  background: var(--primary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.header__container {
  color: #fff;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  padding-top: 1em;
}

.logo {
  text-indent: -999em;
  min-width: 350px;
  min-height: 85px;
  background: url(../img/logo-tall.svg) no-repeat top center;
}

.nav-toggle {
  background: none;
  background: url(../img/icon-menu.svg) no-repeat center center;
  background-size: 20px 20px;
  text-align: center;
  line-height: 1;
  height: 35px;
  width: 35px;
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  border: 0;
  color: var(--secondary);
  display: none;
  transition: all 0.2s;
  border-radius: 50%;
}

.nav-toggle:hover,
.nav-toggle:focus-visible {
  outline: 3px solid;
  transform: scale(1.05);
}

.nav-toggle--display {
  display: block;
}

.nav-toggle--open {
  background: url(../img/icon-close.svg) no-repeat center center;
  background-size: 16px 16px;
}

.nav {
  border-top: 2px solid var(--secondary);
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav__list--open {
  animation: nav 0.3s;
  transform: scaleY(1);
}

.nav__list--closed {
  transform: scaleY(0);
  animation: nav2 0.3s;
  height: 0;
}

@keyframes nav {
  from {
    height: 0;
    transform: scaleY(0);
  }
  to {
    height: 200px;
    transform: scaleY(1);
  }
}
@keyframes nav2 {
  from {
    height: 200px;
    transform: scaleY(1);
  }
  to {
    height: 0;
    transform: scaleY(0);
  }
}

.nav__item {
  text-align: center;
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 4;
  transition: all 0.2s;
}

.nav__item:first-child {
  margin-top: 1em;
}

.nav__item:hover {
  background: var(--secondary);
}

.nav__item--social {
  grid-column-start: auto;
  grid-column-end: auto;
  background: var(--secondary);
  margin-top: 1em;
  font-size: 1.25rem;
  padding-bottom: 0.25em;
  transition: all 0.2s;
}

.nav__item--social:hover {
  background: #fff;
}

.nav__link {
  color: #fff;
  font-family: var(--font-secondary);
  text-decoration: none;
  display: block;
  padding: 0.2em;
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link--social {
  color: var(--primary);
  padding: 0.25em 0 0;
}

.nav__link--social svg {
  fill: var(--primary);
}

.main-section {
  padding: 1.5em;
  margin: 1.5em 0;
}

.main-section--full {
  padding: 2em 0;
}

.hero,
.main-section {
  padding: 2em 0;
  position: relative;
}

.hero {
  margin-top: 0;
}

.hero__overlay,
.work__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/bkg-code.webp);
  background-size: 800px;
  background-attachment: fixed;
  filter: opacity(0.08);
  z-index: -1;
}

.work__overlay {
  background-size: cover;
}

.hero__content {
  display: grid;
  grid-content-rows: auto;
}

.hero__title {
  font-family: var(--font-accent);
  font-size: 3.25rem;
  color: var(--primary);
  text-align: center;
}

.hero__copy {
  text-align: center;
  padding: 0 2em;
  margin-bottom: 1em;
  font-size: 1.3rem;
}

.hero__img {
  display: none;
}

.btn--hero {
  margin: 0 auto;
  font-size: 1.1rem;
}

.link {
}

.section__title {
  font-family: var(--font-accent);
  font-size: 2.75rem;
  text-align: center;
  color: var(--primary);
  margin-bottom: 0.25em;
}

.section__subtitle {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary);
  margin-bottom: 0.25em;
  letter-spacing: 1px;
}

.section__divider {
  margin: 1.5em;
  border: 0;
  border-top: 2px solid var(--neutral-light);
}

.section__links {
  margin-top: 1.5em;
}

.main-section p {
  text-align: center;
  margin-bottom: 0.65em;
}

.copy__first-line {
  font-family: var(--font-secondary);
  color: var(--primary);
}

.icon-list {
  margin: 1em;
  list-style: none;
}

.icon-list__item {
  margin-bottom: 0.25em;
  font-size: 1.1rem;
}

.icon-list__item i {
  background: var(--secondary);
  color: var(--primary);
  padding: 0.35em 0.25em 0.25em;
  margin-right: 0.35em;
  width: 1.7em;
  height: 1.7em;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
}

.icon-list__desc {
  font-size: 0.8rem;
  color: var(--neutral-50);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 0.5em;
}
.hero:after,
.portfolio:after,
.work:before {
  content: '';
  border-bottom: 2px solid var(--secondary);
  height: 0px;
  position: absolute;
  top: -0.5em;
  left: 0;
  right: 0;
}

.about:after,
.hero:after,
.portfolio:after {
  top: auto;
  bottom: -0.5em;
  left: 0;
  right: 0;
}

.portfolio-item {
  margin: 1em 1.5em;
  padding: 1em 0 1.5em;
  border-bottom: 3px solid rgba(0, 0, 0, 0.07);
}

.portfolio-item:first-child {
  margin-top: 0;
}

.portfolio-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.portfolio__image-container a {
  display: inline-block;
}

.portfolio__image {
  border: 10px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  object-fit: contain;
  transition: all 0.2s;
  outline: 2px solid transparent;
}

.portfolio__image-container a {
  line-height: 0;
}
.portfolio__image:hover,
.portfolio__image-container a:focus-visible {
  outline: 2px solid var(--secondary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.portfolio-item__title {
  font-family: var(--font-secondary);
  color: var(--primary);
  text-align: center;
  font-size: 1.35rem;
  margin: 0.85em 0 0.35em;
}

.portfolio-item__technologies {
  font-family: var(--font-secondary);
  color: var(--primary-lt);
  text-align: center;
  margin-bottom: 0.5em;
}

.portfolio-item__links {
  margin-top: 1.25em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.link--single {
  grid-template-columns: 1fr;
}

.icon-list--contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.contact .icon-list__item {
  text-align: center;
}

.icon-list__link {
  background: var(--secondary);
  color: var(--primary);
  padding: 0.21em;
  width: 1.7em;
  height: 1.7em;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.2s;
  outline: 2px solid transparent;
}
.icon-list__link:hover,
.icon-list__link:focus-visible {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px rgba(46, 100, 107, 0.35);
  outline: 2px solid white;
  background: var(--secondary-lt);
}

.message--required {
  font-size: 0.9rem;
  font-style: italic;
}

.contact__form {
  margin-top: 1em;
}

.form__input-group {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 0.75em;
  justify-content: center;
}
.form__label {
  color: var(--primary);
  font-family: var(--font-secondary);
  margin-bottom: 0.25em;
  text-align: center;
}

.form__input-text,
.form__textarea {
  border: 2px solid var(--neutral-25);
  border-radius: 0.5em;
  min-width: 250px;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  color: var(--neutral-dark);
  font-family: var(--font-primary);
  transition: all 0.2s;
  outline: none;
}

.form__input-text::placeholder,
.form__textarea::placeholder {
  color: var(--neutral-50);
}

.form__input-text:hover,
.form__textarea:hover {
  border: 2px solid var(--secondary);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.form__input-text:focus-visible,
.form__textarea:focus-visible {
  border: 2px solid var(--secondary);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form__textarea {
  height: 75px;
}

.footer {
  background: var(--primary);
  padding: 2em 0 1.5em;
  margin-top: 3em;
  text-align: center;
  position: relative;
  border-bottom: 10px solid var(--secondary);
}

.contact__section .btn--lg {
  margin-top: 1.5em;
}

.contact__section--form .section__subtitle i {
  color: var(--primary-lt);
  font-size: 1.4rem;
  padding-right: 0.2em;
}

.contact__section:not(:last-child) {
  border-bottom: 3px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}
.footer:before {
  content: '';
  border-bottom: 2px solid var(--secondary);
  height: 0px;
  position: absolute;
  top: -0.5em;
  left: 0;
  right: 0;
}

@media screen and (min-width: 625px) {
  .header {
    padding-top: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .logo {
    background-size: contain;
    margin-bottom: 0.5em;
  }
  .nav__list--closed {
    transform: initial;
    animation: initial;
    height: auto;
  }
  .nav-toggle--display {
    display: none;
  }
  .nav {
    border-top: 0;
    margin-top: 0.5em;
    background: var(--secondary);
  }
  .nav__list {
    grid-template-columns: repeat(11, 1fr);
    gap: 0.5em;
    padding: 0 3em;
    max-width: 650px;
    margin: 0 auto;
  }
  .nav__item:first-child {
    margin-top: 0;
  }
  .nav__item {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-column: span 2;
  }

  .nav__item--social {
    grid-column: span 1;
    margin-top: 0;
    background: transparent;
    padding-bottom: 2px;
  }

  .nav__link {
    padding-top: 5px;
    color: var(--primary);
    border-bottom: 3px solid transparent;
    transition: border 0.2s;
  }

  .nav__link:hover,
  .nav__link--active {
    border-bottom: 3px solid var(--primary);
    color: var(--primary-dk);
  }

  .nav__item + .nav__item--social {
    margin-left: 1em;
  }

  .nav__item--social:hover {
    background: transparent;
    transform: scale(1.1);
  }

  .nav__link--social {
    border: 0;
  }

  .nav__link--social:hover {
    border: 0;
  }

  #home,
  #about,
  #work,
  #contact {
    scroll-margin-top: 10em;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__copy,
  .section__copy,
  .section__links,
  .contact__section {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-section {
    padding: 2em;
  }

  .section__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .icon-list--skills {
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
  }

  .portfolio-item {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-item__links,
  .icon-list--contact {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .input-group--message,
  .btn--send {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 980px) {
  h2.section__title {
    font-size: 3.5rem;
  }

  #home,
  #about,
  #work,
  #contact {
    scroll-margin-top: 8em;
  }

  .header {
    border-bottom: 2px solid var(--secondary);
    padding: 2em 4em 0.5em;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    padding-top: 0;
    column-gap: 2em;
  }
  .logo {
    background: url('../img/logo-wide.svg') top left no-repeat;
    background-size: contain;
    min-height: auto;
    height: auto;
    min-width: auto;
    max-width: 325px;
    margin: 0;
  }
  .nav {
    align-self: end;
    background: none;
    padding-bottom: 1em;
    margin-top: 0.4em;
  }
  .nav__list {
    padding: 0;
    gap: 1.5em;
  }
  .nav__link {
    color: white;
  }
  .nav__link:hover {
    color: white;
  }

  .nav__item {
    border-bottom: 3px solid transparent;
  }
  .nav__item:hover,
  .nav__link--active {
    background: none;
    transform: scale(1.05);
    border-bottom: 3px solid var(--secondary);
  }
  .nav__link--social {
    color: var(--secondary);
    transition: color 0.2s;
  }
  .nav__item--social:hover {
    border-bottom-color: transparent;
    transform: scale(1.1);
  }
  .hero .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2em;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    height: 45vh;
  }

  .hero__title {
    font-size: 4.25rem;
  }

  .hero__img {
    display: block;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 3px 3px 5px rgba(46, 100, 107, 0.35);
    max-width: 300px;
  }

  .about {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 4em;
  }

  .about p {
    text-align: left;
  }

  .about .section__divider,
  .icon-list__desc,
  .about .section__subtitle {
    display: none;
  }

  .about {
    padding-top: 3em;
  }

  #about {
    min-height: 60vh;
    display: grid;
    align-items: center;
  }

  .about__section {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
  }
  .about__section .section__links {
    gap: 1em;
  }

  .icon-list--skills {
    grid-template-columns: auto;
    gap: 0.5em;
  }
  .icon-list__desc {
    display: inline-block;
  }

  #work {
    min-height: 80vh;
    display: grid;
    align-items: center;
  }

  .portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.25em;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .portfolio-item {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .portfolio-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }
  .portfolio .portfolio-item__description {
    text-align: center;
  }

  .contact {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4em;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .icon-list--contact {
    margin-top: 1.5em;
  }

  .contact__section:first-child {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .contact__section--form {
    background: var(--neutral-light);
    border-radius: 1em;
    padding: 1.5em;
    border: 5px solid white;
    outline: 2px solid rgba(184, 230, 80, 0.7);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  }
  .contact__form {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .input-group--message,
  .btn--send {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .btn--send {
    align-self: center;
  }
  .icon-list__link {
    font-size: 1.6rem;
    height: 1.7em;
    width: 1.7em;
    padding: 0.3em;
  }
}

@media screen and (min-width: 1110px) {
  :root {
    font-size: 18px;
  }
  .main-section p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  .section__copy,
  .section__links {
    max-width: 100%;
  }
  .about {
    grid-template-columns: 3fr 2fr;
  }
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    gap: 4.5em;
  }
  .portfolio-item:last-child {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .form__label {
    font-size: 1.1rem;
  }
  .contact {
    max-width: 1250px;
  }
}
