/*


*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@500&display=swap');
@import url('https://hello.myfonts.net/count/41bdbc');
@font-face {
  font-family: 'FeltThat';
  src: url('/fonts/FeltThat/font.woff2') format('woff2'),
    url('/fonts/FeltThat/font.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-lt: #3b818a;
  --primary: rgb(46, 100, 107);
  --primary-50: rgba(46, 100, 107, 0.5);
  --primary-25: rgba(46, 100, 107, 0.25);
  --secondary: #b8e650;
  --secondary-lt: #d2ee91;
  --neutral-dark: #545a5d;
  --neutral-50: rgba(84, 90, 93, 0.5);
  --neutral-25: rgba(84, 90, 93, 0.25);
  --neutral-light: #f3f3f2;
  --font-accent: 'FeltThat', 'Roboto Slab', serif;
  --font-secondary: 'Roboto Slab', 'Times New Roman', Georgia, serif;
  --font-primary: 'Lato', Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: var(--font-primary);
  color: var(--neutral-dark);
}

p {
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  border: 0;
  padding: 0.65em 1em 0.7em;
  font-family: var(--font-secondary);
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
  border-radius: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.65em;
  text-decoration: none;
}

.btn--text {
  background: none;
  color: var(--primary);
  text-decoration: underline var(--primary-25) 2px;
  text-underline-offset: 3px;
}

.btn--lg {
  font-size: 1.1rem;
}

.btn:hover,
.btn:focus-visible {
  outline: 3px solid var(--secondary);
  transform: scale(1.03);
}

.btn--text:hover,
.btn--text:focus-visible {
  outline: none;
  color: var(--neutral-dark);
  text-decoration: underline var(--secondary) 2px;
}

.btn .far,
.btn .fab,
.btn .fas {
  color: var(--secondary);
  font-size: 1.25em;
  padding-right: 0.25em;
}

.btn--text .far,
.btn--text .fab,
.btn--text .fas {
  color: var(--primary);
  font-size: 1.25em;
  padding-right: 0.25em;
}

.btn--text:hover .far,
.btn--text:hover .fab,
.btn--text:hover .fas {
  color: var(--neutral-dark);
}

.header {
  background: var(--primary);
  color: #fff;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 1em;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  text-indent: -999em;
  min-width: 350px;
  min-height: 100px;
  background: url(../img/logo-tall.svg) no-repeat top center;
}

.nav-toggle {
  background: none;
  background: url(../img/icon-menu.svg) no-repeat center center;
  background-size: 20px 20px;
  text-align: center;
  line-height: 1;
  height: 35px;
  width: 35px;
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  border: 0;
  color: var(--secondary);
  display: none;
  transition: all 0.2s;
  border-radius: 50%;
}

.nav-toggle:hover,
.nav-toggle:focus-visible {
  outline: 3px solid;
  transform: scale(1.05);
}

.nav-toggle--display {
  display: block;
}

.nav-toggle--open {
  background: url(../img/icon-close.svg) no-repeat center center;
  background-size: 16px 16px;
}

.nav {
  border-top: 2px solid var(--secondary);
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav__list--open {
  animation: nav 1s;
  transform: scaleY(1);
}

.nav__list--closed {
  transform: scaleY(0);
  animation: nav2 1s;
  height: 0;
}

@keyframes nav {
  from {
    height: 0;
    transform: scaleY(0);
  }
  to {
    height: 200px;
    transform: scaleY(1);
  }
}
@keyframes nav2 {
  from {
    height: 200px;
    transform: scaleY(1);
  }
  to {
    height: 0;
    transform: scaleY(0);
  }
}

.nav__item {
  text-align: center;
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 4;
  transition: all 0.2s;
}

.nav__item:first-child {
  margin-top: 1em;
}

.nav__item:hover {
  background: var(--secondary);
}

.nav__item--social {
  grid-column-start: auto;
  grid-column-end: auto;
  background: var(--secondary);
  margin-top: 1em;
  font-size: 1.25rem;
  padding-bottom: 0.25em;
  transition: all 0.2s;
}

.nav__item--social:hover {
  background: #fff;
}

.nav__link {
  color: #fff;
  font-family: var(--font-secondary);
  text-decoration: none;
  display: block;
  padding: 0.2em;
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link--social {
  color: var(--primary);
  padding: 0.25em 0 0;
}

.nav__link--social svg {
  fill: var(--primary);
}

.hero,
.main-section {
  padding: 2em 0;
  position: relative;
}

.hero__overlay,
.work__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/bkg-code.jpg);
  background-size: 800px;
  background-attachment: fixed;
  filter: opacity(0.08);
  z-index: -1;
}

.work__overlay {
  background-size: cover;
}

.hero__content {
  display: grid;
  grid-content-rows: auto;
}

.hero__title {
  font-family: var(--font-accent);
  font-size: 3.25rem;
  color: var(--primary);
  text-align: center;
}

.hero__copy {
  text-align: center;
  padding: 0 2em;
  margin-bottom: 1em;
}

.hero__img {
  display: none;
}

.btn--hero {
  margin: 0 auto;
}

.main-section {
  padding: 1.5em;
  margin: 1.5em 0;
}

.main-section--full {
  padding: 2em 0;
}

.section__title {
  font-family: var(--font-accent);
  font-size: 2.75rem;
  text-align: center;
  color: var(--primary);
  margin-bottom: 0.25em;
}

.section__subtitle {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary);
  margin-bottom: 0.25em;
  letter-spacing: 1px;
}

.section__divider {
  margin: 1.5em;
  border: 0;
  border-top: 2px solid var(--neutral-light);
}

.section__links {
  margin-top: 1.5em;
}

.main-section p {
  text-align: center;
  margin-bottom: 0.65em;
}

.copy__first-line {
  font-family: var(--font-secondary);
  color: var(--primary);
}

.icon-list {
  margin: 1em;
  list-style: none;
}

.icon-list__item {
  margin-bottom: 0.25em;
}

.icon-list__item i {
  background: var(--secondary);
  color: var(--primary);
  padding: 0.35em 0.25em 0.25em;
  margin-right: 0.35em;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
}

.icon-list__desc {
  font-size: 0.8rem;
  color: var(--neutral-50);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 0.5em;
}

.about:before,
.contact:before,
.about:after {
  content: '';
  border-bottom: 2px solid var(--secondary);
  height: 0px;
  position: absolute;
  top: -1em;
  left: 0;
  right: 0;
}
.about:after {
  top: auto;
  bottom: -1em;
  left: 0;
  right: 0;
}

.portfolio-item {
  margin: 1em 1.5em;
  padding: 1em 0 1.5em;
  border-bottom: 3px solid rgba(0, 0, 0, 0.07);
}

.portfolio-item:first-child {
  margin-top: 0;
}

.portfolio-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.portfolio__image {
  border: 10px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  object-fit: contain;
}

.portfolio-item__title {
  font-family: var(--font-secondary);
  color: var(--primary);
  text-align: center;
  font-size: 1.35rem;
  margin: 0.85em 0 0.35em;
}

.portfolio-item__technologies {
  font-family: var(--font-secondary);
  color: var(--primary-lt);
  text-align: center;
  margin-bottom: 0.5em;
}

.portfolio-item__links {
  margin-top: 1.25em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.icon-list--contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-list--contact .icon-list__link .fab {
  transition: all 0.2s;
  outline: 2px transparent;
}

.icon-list--contact .icon-list__link:hover .fab {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px rgba(46, 100, 107, 0.35);
  outline: 2px solid white;
  background: var(--secondary-lt);
}

#contact .icon-list__item {
  text-align: center;
}

.message--required {
  font-size: 0.9rem;
  font-style: italic;
}

.contact__form {
  margin-top: 1em;
}

.form__input-group {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 0.75em;
  justify-content: center;
}
.form__label {
  color: var(--primary);
  font-family: var(--font-secondary);
  margin-bottom: 0.25em;
  text-align: center;
}

.form__input-text,
.form__textarea {
  border: 2px solid var(--neutral-25);
  border-radius: 0.5em;
  min-width: 250px;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  color: var(--neutral-dark);
  font-family: var(--font-primary);
}

.form__input-text::placeholder,
.form__textarea::placeholder {
  color: var(--neutral-50);
}

.form__textarea {
  height: 75px;
}

.footer {
  background: var(--primary);
  padding: 2em 0 1em;
  margin-top: 3em;
  text-align: center;
  position: relative;
}

.contact__section .btn--lg {
  margin-top: 1.5em;
}

.contact__section:not(:last-child) {
  border-bottom: 3px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}
.footer:before {
  content: '';
  border-bottom: 2px solid var(--secondary);
  height: 0px;
  position: absolute;
  top: -0.5em;
  left: 0;
  right: 0;
}
